ResourceBase/Service References/VirtualProviderService/VirtualProviderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52444/VirtualProviderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52444/VirtualProviderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52444/VirtualProviderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MITP" />
      <xsd:import schemaLocation="http://localhost:52444/VirtualProviderService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVirtualProviderService_GetVirtualNodesState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualNodesState" />
  </wsdl:message>
  <wsdl:message name="IVirtualProviderService_GetVirtualNodesState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualNodesStateResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualProviderService_StartInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:StartInstance" />
  </wsdl:message>
  <wsdl:message name="IVirtualProviderService_StartInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualProviderService_StopInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:StopInstance" />
  </wsdl:message>
  <wsdl:message name="IVirtualProviderService_StopInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopInstanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IVirtualProviderService">
    <wsdl:operation name="GetVirtualNodesState">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualProviderService/GetVirtualNodesState" message="tns:IVirtualProviderService_GetVirtualNodesState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualProviderService/GetVirtualNodesStateResponse" message="tns:IVirtualProviderService_GetVirtualNodesState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualProviderService/StartInstance" message="tns:IVirtualProviderService_StartInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualProviderService/StartInstanceResponse" message="tns:IVirtualProviderService_StartInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualProviderService/StopInstance" message="tns:IVirtualProviderService_StopInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualProviderService/StopInstanceResponse" message="tns:IVirtualProviderService_StopInstance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVirtualProviderService" type="tns:IVirtualProviderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVirtualNodesState">
      <soap:operation soapAction="http://tempuri.org/IVirtualProviderService/GetVirtualNodesState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartInstance">
      <soap:operation soapAction="http://tempuri.org/IVirtualProviderService/StartInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopInstance">
      <soap:operation soapAction="http://tempuri.org/IVirtualProviderService/StopInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>