ServiceProxies/Service References/SchedulerService/SchedulerService72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchedulerCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchedulerCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.1/SchedulerService/SchedulerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.4.1/SchedulerService/SchedulerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.4.1/SchedulerService/SchedulerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scheduler" />
  <xs:complexType name="Workflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dependencies" nillable="true" type="tns:ArrayOfTasksDepenendency" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Optimize" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Workflow" nillable="true" type="tns:Workflow" />
  <xs:complexType name="ArrayOfTasksDepenendency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TasksDepenendency" nillable="true" type="tns:TasksDepenendency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTasksDepenendency" nillable="true" type="tns:ArrayOfTasksDepenendency" />
  <xs:complexType name="TasksDepenendency">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsumerId" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TasksDepenendency" nillable="true" type="tns:TasksDepenendency" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="SuitableDestinations" nillable="true" type="tns:ArrayOfLaunchDestination" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="BaseTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="WFid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTask" nillable="true" type="tns:BaseTask" />
  <xs:complexType name="ArrayOfLaunchDestination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LaunchDestination" nillable="true" type="tns:LaunchDestination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaunchDestination" nillable="true" type="tns:ArrayOfLaunchDestination" />
  <xs:complexType name="LaunchDestination">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NodeNames" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaunchDestination" nillable="true" type="tns:LaunchDestination" />
  <xs:complexType name="LaunchPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstimatedExecutionTime" type="xs:double" />
      <xs:element minOccurs="0" name="NodesTimings" nillable="true" type="tns:ArrayOfNodeAvailabilityTime" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="tns:ArrayOfActiveEstimatedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaunchPlan" nillable="true" type="tns:LaunchPlan" />
  <xs:complexType name="ArrayOfNodeAvailabilityTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeAvailabilityTime" nillable="true" type="tns:NodeAvailabilityTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeAvailabilityTime" nillable="true" type="tns:ArrayOfNodeAvailabilityTime" />
  <xs:complexType name="NodeAvailabilityTime">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NodeAvailabilityTime" nillable="true" type="tns:NodeAvailabilityTime" />
  <xs:complexType name="ArrayOfActiveEstimatedTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveEstimatedTask" nillable="true" type="tns:ActiveEstimatedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveEstimatedTask" nillable="true" type="tns:ArrayOfActiveEstimatedTask" />
  <xs:complexType name="ActiveEstimatedTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estimation" nillable="true" type="tns:ActiveEstimation" />
          <xs:element minOccurs="0" name="IsUrgent" type="xs:boolean" />
          <xs:element minOccurs="0" name="MonopolizeResource" type="xs:boolean" />
          <xs:element minOccurs="0" name="State" type="tns:TaskState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveEstimatedTask" nillable="true" type="tns:ActiveEstimatedTask" />
  <xs:complexType name="ActiveEstimation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResourceEstimation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Destination" nillable="true" type="tns:LaunchDestination" />
          <xs:element minOccurs="0" name="LaunchTime" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveEstimation" nillable="true" type="tns:ActiveEstimation" />
  <xs:complexType name="ResourceEstimation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:Resource" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:EstimationResult" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="tns:EstimatedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceEstimation" nillable="true" type="tns:ResourceEstimation" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nodes" nillable="true" type="tns:ArrayOfNode" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Node" nillable="true" type="tns:Node" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNode" nillable="true" type="tns:ArrayOfNode" />
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoresAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="CoresTotal" type="xs:int" />
      <xs:element minOccurs="0" name="DNSName" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="EstimationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculationTime" type="xs:double" />
      <xs:element minOccurs="0" name="Overheads" type="xs:double" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfEstimationResult.ParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstimationResult" nillable="true" type="tns:EstimationResult" />
  <xs:complexType name="ArrayOfEstimationResult.ParameterValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstimationResult.ParameterValue" type="tns:EstimationResult.ParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstimationResult.ParameterValue" nillable="true" type="tns:ArrayOfEstimationResult.ParameterValue" />
  <xs:complexType name="EstimationResult.ParameterValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="InitialValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstimationResult.ParameterValue" nillable="true" type="tns:EstimationResult.ParameterValue" />
  <xs:complexType name="EstimatedTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepthLevel" type="xs:int" />
          <xs:element minOccurs="0" name="Estimations" nillable="true" type="tns:ArrayOfResourceEstimation" />
          <xs:element minOccurs="0" name="ProvidesDependencies" nillable="true" type="tns:ArrayOfEstimatedTask" />
          <xs:element minOccurs="0" name="RequiresDependencies" nillable="true" type="tns:ArrayOfEstimatedTask" />
          <xs:element minOccurs="0" name="ScheduledInstance" nillable="true" type="tns:ActiveEstimatedTask" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EstimatedTask" nillable="true" type="tns:EstimatedTask" />
  <xs:complexType name="ArrayOfResourceEstimation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceEstimation" nillable="true" type="tns:ResourceEstimation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceEstimation" nillable="true" type="tns:ArrayOfResourceEstimation" />
  <xs:complexType name="ArrayOfEstimatedTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstimatedTask" nillable="true" type="tns:EstimatedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstimatedTask" nillable="true" type="tns:ArrayOfEstimatedTask" />
  <xs:simpleType name="TaskState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAUNCHED" />
      <xs:enumeration value="SCHEDULED" />
      <xs:enumeration value="ABORTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskState" nillable="true" type="tns:TaskState" />
  <xs:complexType name="ErrorMessage">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:ErrorCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorMessage" nillable="true" type="tns:ErrorMessage" />
  <xs:simpleType name="ErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="ACCESS" />
      <xs:enumeration value="IO" />
      <xs:enumeration value="DATABASE" />
      <xs:enumeration value="ARGUMENT" />
      <xs:enumeration value="CONFIGURATION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode" />
  <xs:complexType name="UrgentPlan">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LaunchPlan">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UrgentPlan" nillable="true" type="tns:UrgentPlan" />
  <xs:complexType name="EstimatedUrgentWorkflow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EstimatedWorkflow">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaxExecutionTime" type="xs:double" />
          <xs:element minOccurs="0" name="MinExecutionTime" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EstimatedUrgentWorkflow" nillable="true" type="tns:EstimatedUrgentWorkflow" />
  <xs:complexType name="EstimatedWorkflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveTasks" nillable="true" type="tns:ArrayOfActiveEstimatedTask" />
      <xs:element minOccurs="0" name="Dependencies" nillable="true" type="tns:ArrayOfTasksDepenendency" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Optimize" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="PreferredOffer" nillable="true" type="q5:ResourceOffer" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scheduler" minOccurs="0" name="ResourceOffers" nillable="true" type="q6:ArrayOfResourceOffer" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfEstimatedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstimatedWorkflow" nillable="true" type="tns:EstimatedWorkflow" />
  <xs:complexType name="UrgentWorkflow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Workflow">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaxExecutionTime" type="xs:double" />
          <xs:element minOccurs="0" name="MinExecutionTime" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UrgentWorkflow" nillable="true" type="tns:UrgentWorkflow" />
</xs:schema>